
<div>
    <h2>about_the_game</h2>
    <div class="about_the_game">

    </div>
</div>
<div>
    <h2>categories</h2>
    <div class="categories">

    </div>
</div>
<div>
    <h2>detailed_description</h2>
    <div class="detailed_description">

    </div>
</div>
<div>
    <h2>developers</h2>
    <div class="developers">

    </div>
</div>
<div>
    <h2>genres</h2>
    <div class="genres"></div>
</div>
<div>
    <h2>header_image</h2>
    <div class="header_image"></div>
</div>
<div>
    <h2>legal_notice</h2>
    <div class="legal_notice"></div>
</div>
<div>
    <h2>name</h2>
    <div class="name"></div>
</div>
<div>
    <h2>pc_requirements</h2>
    <div class="pc_requirements"></div>
</div>
<div>
    <h2>reviews</h2>
    <div class="reviews"></div>
</div>
<div>
    <h2>screenshots</h2>
    <div class="screenshots"></div>
</div>
<div>
    <h2>short_description</h2>
    <div class="short_description"></div>
</div>
<div>
    <h2>supported_languages</h2>
    <div class="supported_languages"></div>
</div>
<div>
    <h2>website</h2>
    <div class="website"></div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        let myJSONstring = '{{data}}';

            myJSONstring = myJSONstring.replace(/&lt;/g, '<');
            myJSONstring = myJSONstring.replace(/&gt;/g, '>');
            myJSONstring = myJSONstring.replace(/&quot;/g, '"');
            myJSONstring = myJSONstring.replace(/&#x3D;/g, '=');
            myJSONstring = myJSONstring.replace(/&#x27;/g, "'");

            myJSONstring = myJSONstring.replace(/="/g, "='");
            myJSONstring = myJSONstring.replace(/" /g, "'");
            myJSONstring = myJSONstring.replace(/">/g, "'");

            console.log(JSON.parse(myJSONstring));

            document.querySelector('.about_the_game').innerHTML = myJSONstring.about_the_game;
            document.querySelector('.categories').innerHTML = myJSONstring.categories;
            document.querySelector('.detailed_description').innerHTML = myJSONstring.detailed_description;
            document.querySelector('.developers').innerHTML = myJSONstring.developers;
            document.querySelector('.genres').innerHTML = myJSONstring.genres;
            document.querySelector('.header_image').innerHTML = '<img src='myJSONstring.header_image'>';
            document.querySelector('.legal_notice').innerHTML = myJSONstring.legal_notice;
            document.querySelector('.name').innerHTML = myJSONstring.name;
            document.querySelector('.pc_requirements').innerHTML = myJSONstring.pc_requirements;
            document.querySelector('.reviews').innerHTML = myJSONstring.reviews;
            document.querySelector('.screenshots').innerHTML = myJSONstring.screenshots;
            document.querySelector('.short_description').innerHTML = myJSONstring.short_description;
            document.querySelector('.supported_languages').innerHTML = myJSONstring.supported_languages;
            document.querySelector('.website').innerHTML = myJSONstring.website;
    }, false);

</script>