
<div>{{data}}</div>

<div class="parent"></div>

<script>

    const parent = document.querySelector('.parent');

    let div = document.createElement('div');
    let myJSONstring = '{{data}}';

    console.log(myJSONstring);

    myJSONstring = myJSONstring.replace(/&lt;/g, '<');
    myJSONstring = myJSONstring.replace(/&gt;/g, '>');
    myJSONstring = myJSONstring.replace(/&guot;/g, '"');
    myJSONstring = myJSONstring.replace(/&#x3d;/g, '=');

    console.log(myJSONstring);

    div.innerHTML = myJSONstring;

    parent.appendChild(div);

</script>