
<div>{{data}}</div>

<div class="parent"></div>

<script>

    const parent = document.querySelector('.parent');

    let div = document.createElement('div');
    let obj = JSON.parse(`{{data}}`)
    div.innerHTML = obj.detailed_description;

    parent.appendChild(div);

</script>