
<div>{{data}}</div>

<div class="parent"></div>

<script>

    const parent = document.querySelector('.parent');

    let div = document.createElement('div');
    let myJSONstring = '{{data}}';

    myJSONstring.replace(/&quot;/ig,'"');

    console.log(myJSONstring);

    div.innerHTML = myJSONstring;

    parent.appendChild(div);

</script>