
<div class="parent"></div>

<script>

    const parent = document.querySelector('.parent');

    let div = document.createElement('div');
    let myJSONstring = '{{data}}';

    console.log(myJSONstring);

    myJSONstring = myJSONstring.replace(/&lt;/g, '<');
    myJSONstring = myJSONstring.replace(/&gt;/g, '>');
    myJSONstring = myJSONstring.replace(/&quot;/g, '"');
    myJSONstring = myJSONstring.replace(/&#x3D;/g, '=');
    myJSONstring = myJSONstring.replace(/&#x27;/g, "'");

    myJSONstring = myJSONstring.replace(/="/g, "='");
    myJSONstring = myJSONstring.replace(/" /g, "'");
    myJSONstring = myJSONstring.replace(/">/g, "'");

    console.log(JSON.parse(myJSONstring));

    div.innerHTML = myJSONstring;

    parent.appendChild(div);

</script>