
<div>{{data}}</div>

<div class="parent"></div>

<script>

    const parent = document.querySelector('.parent');

    let div = document.createElement('div');
    let myJSONstring = '{{data}}';

    myJSONstring = JSON.parse(JSON.stringify(myJSONstring).replace(/&quot;/g,'"'), [, reviver]);

    console.log(myJSONstring);

    div.innerHTML = myJSONstring.detailed_description;

    parent.appendChild(div);

</script>