<!DOCTYPE html>

<html>
  <head>
    <title>Playterest</title>
    <link rel="icon" href="/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <svg style="display: none;">
      <symbol id="logo-icon" viewBox="0 0 456 243">
      <path d="M88.3786 92.5125C90.7616 93.7547 91.5 95.566 91.5 97.0046C91.5 98.4433 90.7616 100.255 88.3786 101.497L19.1478 137.586C16.6581 138.883 13.8281 138.736 11.6214 137.586C9.43162 136.444 8.5 134.733 8.5 133.093L8.5 60.9159C8.5 59.2758 9.43163 57.5652 11.6214 56.4237C13.8281 55.2734 16.6581 55.1259 19.1478 56.4237L88.3786 92.5125Z" stroke="#FCFF53" stroke-width="17"/>
      <path d="M224.508 58.6261C225.75 56.243 227.561 55.5046 229 55.5046C230.439 55.5046 232.25 56.243 233.492 58.626L269.581 127.857C270.879 130.347 270.731 133.177 269.581 135.383C268.439 137.573 266.729 138.505 265.089 138.505L192.911 138.505C191.271 138.505 189.561 137.573 188.419 135.383C187.269 133.177 187.121 130.347 188.419 127.857L224.508 58.6261Z" stroke="#53FFCB" stroke-width="17"/>
      <path d="M341.508 135.383C342.75 137.766 344.561 138.505 346 138.505C347.439 138.505 349.25 137.766 350.492 135.383L386.581 66.1525C387.879 63.6627 387.731 60.8328 386.581 58.626C385.439 56.4363 383.729 55.5046 382.089 55.5046L309.911 55.5046C308.271 55.5046 306.561 56.4363 305.419 58.6261C304.269 60.8328 304.121 63.6627 305.419 66.1525L341.508 135.383Z" stroke="#53FFCB" stroke-width="17"/>
      <path d="M128.764 196.607C128.453 196.607 127.468 200.483 125.809 208.235C124.185 215.987 123.372 220.68 123.372 222.314C123.372 225.165 123.666 227.164 124.254 228.311C124.876 229.423 125.878 229.98 127.26 229.98C129.196 229.98 131.044 229.649 132.807 228.989C134.604 228.293 136.954 226.764 139.857 224.4C141.654 222.905 143.175 222.158 144.419 222.158C145.421 222.158 146.216 222.453 146.803 223.044C147.425 223.6 147.736 224.261 147.736 225.026C147.736 228.085 145.283 231.561 140.375 235.455C135.468 239.313 130.284 241.243 124.824 241.243C120.262 241.243 116.772 239.887 114.353 237.176C111.968 234.464 110.776 230.57 110.776 225.495C110.776 220.802 112.521 211.433 116.011 197.389C113.8 197.632 112.262 197.754 111.398 197.754H110.309C108.719 197.754 107.095 197.232 105.436 196.189C103.812 195.146 103 193.478 103 191.183C103 188.263 104.642 186.803 107.925 186.803L119.018 186.386C124.12 167.494 121 179 123.5 169.126C125.599 158.972 126.794 163.494 130.215 163.494C132.116 163.494 133.602 164.085 134.673 165.267C135.744 166.414 136.28 167.701 136.28 169.126C136.28 169.682 134.811 175.053 131.874 185.239C142.864 184.266 148.894 183.779 149.965 183.779C151.797 183.779 153.007 184.057 153.594 184.613C154.182 185.135 154.475 186.16 154.475 187.69C154.475 190.784 151.866 192.748 146.648 193.582L128.764 196.607Z" fill="white"/>
      <path d="M208.874 221.011C208.874 224.626 205.85 228.954 199.803 233.995C193.755 239.001 186.929 241.504 179.327 241.504C173.486 241.504 168.89 239.661 165.538 235.976C162.185 232.257 160.509 227.094 160.509 220.489C160.509 210.755 163.931 201.63 170.773 193.113C177.616 184.596 184.925 180.337 192.701 180.337C196.571 180.337 199.682 181.571 202.032 184.04C204.382 186.508 205.557 189.445 205.557 192.852C205.557 198.901 202.671 204.672 196.9 210.164C191.128 215.622 183.733 219.394 174.713 221.48C173.676 221.723 173.158 222.349 173.158 223.357C173.158 225.026 173.884 226.625 175.335 228.154C176.821 229.649 178.791 230.397 181.245 230.397C188.191 230.397 195.085 226.799 201.928 219.603C203.241 218.212 204.52 217.517 205.764 217.517C207.838 217.517 208.874 218.681 208.874 221.011ZM174.091 211.781C179.551 210.668 184.355 208.322 188.502 204.741C192.684 201.161 194.774 197.91 194.774 194.99C194.774 193.843 194.446 192.887 193.789 192.122C193.167 191.323 192.355 190.923 191.353 190.923C188.346 190.923 185.011 193.148 181.348 197.597C177.685 202.047 175.266 206.775 174.091 211.781Z" fill="white"/>
      <path d="M235.799 213.084L236.68 211.416C240.862 202.968 245.355 196.12 250.158 190.871C254.996 185.587 259.714 182.945 264.31 182.945C267.835 182.945 270.703 183.918 272.915 185.865C275.161 187.811 276.285 190.123 276.285 192.8C276.285 194.469 275.905 195.911 275.144 197.128C274.384 198.31 273.33 198.901 271.982 198.901C269.839 198.901 267.887 198.014 266.124 196.242C264.88 195.094 263.895 194.521 263.17 194.521C260.578 194.521 256.241 198.571 250.158 206.671C244.076 214.77 240.413 223.879 239.169 233.995C238.788 236.915 237.942 238.948 236.628 240.096C235.315 241.278 233.535 241.869 231.289 241.869C228.905 241.869 227.211 240.513 226.209 237.801C225.207 235.055 224.706 230.588 224.706 224.4C224.706 221.862 224.775 218.438 224.913 214.127C225.051 210.06 225.449 205.089 226.105 199.214C226.278 197.684 226.399 196.485 226.468 195.616C226.779 192.209 227.125 189.88 227.505 188.628C227.92 187.342 228.853 186.143 230.304 185.03C231.756 183.918 233.363 183.362 235.125 183.362C236.991 183.362 238.408 183.901 239.376 184.978C240.344 186.056 240.827 187.238 240.827 188.524C240.827 190.158 240.05 193.547 238.495 198.692C237.942 200.465 237.475 202.586 237.095 205.054L235.799 213.084Z" fill="white"/>
      <path d="M328.973 221.011C328.973 224.626 325.949 228.954 319.901 233.995C313.854 239.001 307.028 241.504 299.425 241.504C293.585 241.504 288.988 239.661 285.636 235.976C282.284 232.257 280.608 227.094 280.608 220.489C280.608 210.755 284.029 201.63 290.872 193.113C297.715 184.596 305.024 180.337 312.799 180.337C316.67 180.337 319.78 181.571 322.13 184.04C324.48 186.508 325.655 189.445 325.655 192.852C325.655 198.901 322.77 204.672 316.998 210.164C311.227 215.622 303.831 219.394 294.812 221.48C293.775 221.723 293.256 222.349 293.256 223.357C293.256 225.026 293.982 226.625 295.434 228.154C296.92 229.649 298.89 230.397 301.343 230.397C308.29 230.397 315.184 226.799 322.027 219.603C323.34 218.212 324.619 217.517 325.863 217.517C327.936 217.517 328.973 218.681 328.973 221.011ZM294.19 211.781C299.65 210.668 304.454 208.322 308.601 204.741C312.782 201.161 314.873 197.91 314.873 194.99C314.873 193.843 314.545 192.887 313.888 192.122C313.266 191.323 312.454 190.923 311.452 190.923C308.445 190.923 305.11 193.148 301.447 197.597C297.784 202.047 295.365 206.775 294.19 211.781Z" fill="white"/>
      <path d="M367.354 225.704C367.216 223.826 364.244 221.532 358.438 218.82C351.319 215.379 346.774 212.424 344.804 209.956C342.835 207.453 341.85 204.741 341.85 201.821C341.85 195.668 345.271 190.297 352.114 185.708C358.991 181.085 365.401 178.773 371.345 178.773C377.186 178.773 380.106 181.328 380.106 186.438C380.106 187.794 379.432 189.011 378.084 190.088C376.771 191.166 375.648 191.705 374.715 191.705C374.335 191.705 373.661 191.462 372.693 190.975C371.726 190.488 370.983 190.245 370.464 190.245C367.389 190.245 364.002 191.288 360.304 193.374C356.606 195.459 354.757 197.893 354.757 200.674C354.757 202.03 355.414 203.351 356.727 204.637C358.04 205.888 360.719 207.47 364.762 209.382C370.741 212.233 374.68 214.805 376.581 217.1C378.482 219.394 379.432 221.932 379.432 224.713C379.432 229.788 376.011 234.029 369.168 237.436C362.36 240.808 354.705 242.494 346.204 242.494C339.949 242.494 336.821 240.217 336.821 235.663C336.821 233.995 337.478 232.569 338.791 231.387C340.104 230.205 341.573 229.614 343.197 229.614C343.854 229.614 344.873 229.858 346.256 230.345C347.638 230.866 348.917 231.127 350.092 231.127C353.34 231.127 356.744 230.605 360.304 229.562C363.863 228.519 366.214 227.233 367.354 225.704Z" fill="white"/>
      <path d="M123.5 169.126C125.599 158.972 126.794 163.494 130.215 163.494C132.116 163.494 133.602 164.085 134.673 165.267C135.744 166.414 136.28 167.701 136.28 169.126C153.664 89.6997 165.877 32.7556 169 7.99465C170.773 0.494172 160 -4.50555 157.5 5.99438L123.5 169.126Z" fill="white"/>
      <path d="M414.764 197.607C414.453 197.607 413.468 201.483 411.809 209.235C410.185 216.987 409.372 221.68 409.372 223.314C409.372 226.165 409.666 228.164 410.254 229.311C410.876 230.423 411.878 230.98 413.26 230.98C415.196 230.98 417.044 230.649 418.807 229.989C420.604 229.293 422.954 227.764 425.857 225.4C427.654 223.905 429.175 223.158 430.419 223.158C431.421 223.158 432.216 223.453 432.803 224.044C433.425 224.6 433.736 225.261 433.736 226.026C433.736 229.085 431.283 232.561 426.375 236.455C421.468 240.313 416.284 242.243 410.824 242.243C406.262 242.243 402.772 240.887 400.353 238.176C397.968 235.464 396.776 231.57 396.776 226.495C396.776 221.802 398.521 212.433 402.011 198.389C399.8 198.632 398.262 198.754 397.398 198.754H396.309C394.719 198.754 393.095 198.232 391.436 197.189C389.812 196.146 389 194.478 389 192.183C389 189.263 390.642 187.803 393.925 187.803L405.018 187.386C410.12 168.494 407 180 409.5 170.126C411.599 159.972 412.794 164.494 416.215 164.494C418.116 164.494 419.602 165.085 420.673 166.267C421.744 167.414 422.28 168.701 422.28 170.126C422.28 170.682 420.811 176.053 417.874 186.239C428.864 185.266 434.894 184.779 435.965 184.779C437.797 184.779 439.007 185.057 439.594 185.613C440.182 186.135 440.475 187.16 440.475 188.69C440.475 191.784 437.866 193.748 432.648 194.582L414.764 197.607Z" fill="white"/>
      <path d="M409.5 170.126C411.599 159.972 412.794 164.494 416.215 164.494C418.116 164.494 419.602 165.085 420.673 166.267C421.744 167.414 422.28 168.701 422.28 170.126C439.664 90.6997 451.877 33.7556 455 8.99465C456.773 1.49417 446 -3.50555 443.5 6.99438L409.5 170.126Z" fill="white"/>
  </symbol>
  </svg>

    <section class="container">
<!--        {{>header}}-->

        <article style="width:50%;">
            <h1 class="main-title">{{title}}</h1>
            <p>Main description</p>
        </article>

        <div class="login-block" style="width:50%;">

            <svg>
                <use xlink:href="#logo-icon"></use>
            </svg>

            <p>Зарегистрируйтесь чтобы было все пиздато</p>

            <h2>Регистрация</h2>

            <form method="post" action="/register">

                <input type="email" name="email" placeholder="Your email">
                <input type="text" name="username" placeholder="Your username">
                <input type="password" name="password" placeholder="Your password">

                <input type="submit" value="Зарегистрироваться">

                <p>
                    Регистрируясь, вы принимаете наши Условия, Политику использования данных и Политику в отношении файлов cookie.
                </p>
            </form>

            <p>Или</p>

            <h2>Вход</h2>

            <form method="post" action="/">

                <input type="text" name="username" placeholder="Your username">
                <input type="password" name="password" placeholder="Your password">

                <input type="submit" value="Войти">

                <p>{{error}}</p>

            </form>
        </div>

    </section>
     </body>
    </html>