<!DOCTYPE html>

<html>
<head>
    <title>Playterest</title>
    <link rel="icon" href="/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<section class="container">

    <article style="width:50%;">
        <h1 class="main-title">{{title}}</h1>
        <p>Main description</p>
    </article>

    <div class="login-block" style="width:50%;">

        <svg>
            <use xlink:href="#logo-icon"></use>
        </svg>

        <p>Зарегистрируйтесь чтобы было все пиздато</p>

        <h2>Регистрация</h2>

        <form method="post" action="/register">

            <input type="email" name="email" placeholder="Your email">
            <input type="text" name="username" placeholder="Your username">
            <input type="password" name="password" placeholder="Your password">

            <input type="submit" value="Зарегистрироваться">

            <p>
                Регистрируясь, вы принимаете наши Условия, Политику использования данных и Политику в отношении файлов
                cookie.
            </p>
        </form>

        <p>Или</p>

        <h2>Вход</h2>

        <form method="post" action="/">

            <input type="text" name="username" placeholder="Your username">
            <input type="password" name="password" placeholder="Your password">

            <input type="submit" value="Войти">

            <p>{{error}}</p>

        </form>
    </div>

</section>
</body>
</html>