<!DOCTYPE html>

<html>
  <head>
    <title>Playterest</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="container" style="background: url(./assets/img/site-bg.jpg)">

    </section>
     </body>
    </html>