<!DOCTYPE html>

<html>
  <head>
    <title>Playterest</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="container">
        {{>header}}

        <h1 class="main-title">{{title}}</h1>

        <ul class="raiting-list">
            <li class="raiting-item">
                <ul class="raiting-games">
                    <li>
                        <a href="">
                            <img src="../assets/img/games/first.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../assets/img/games/second.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../assets/img/games/third.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../assets/img/games/fourth.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                </ul>
                <h2>Popular games</h2>
            </li>
            <li class="raiting-item">
                <ul class="raiting-games">
                    <li>
                        <a href="">
                            <img src="../assets/img/games/fifth.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../assets/img/games/sixth.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../assets/img/games/seventh.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../assets/img/games/eighth.jpg" width="325" height="150" alt="">
                        </a>
                    </li>
                </ul>
                <h2>Bad games</h2>
            </li>
        </ul>

    </section>
     </body>
    </html>