<div>{{port}}</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('https://myappest.herokuapp.com');

    socket.on('getUser', (data) => {
      console.log(data);
      socket.emit('room', {msg: '111', id: socket.id});
    });

    socket.emit('connection');
</script>