<div>{{port}}</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io('https://myappest.herokuapp.com/room');

    socket.on('connect', () => {
      console.log(socket); // true
    });
    });
  });
</script>