<section class="app-blocks">
    <ul>
        <li>Developers news</li>
        <li>Last game</li>
        <li>Favorite games</li>
        <li>Another block</li>
        <li>Another block</li>
        <li>Another block</li>
    </ul>

    <section class="world-chat">
        <div class="messages"></div>
        <div class="users-list">
            <b>Users</b>
        </div>
        <div class="text-form">
            <input type="text" id="messageText">
            <button id="send" type="submit">Send</button>
        </div>
    </section>

    <section class="games-list"></section>
</section>

<script>
    <!--let gamesList = {{gamesList}};-->

    const gamesList = document.querySelector('.games-list');
    const games = {{games}};

    function renderGame(game, list) {
        let item = document.createElement('p');
        item.innerHTML = game.name;
        list.appendChild(item);
    }

    if(games) {
        games.forEach((game) => {
            renderGame(game, gamesList);
        });
    }

</script>