<section class="app-blocks">
    <ul>
        <li>Developers news</li>
        <li>Last game</li>
        <li>Favorite games</li>
        <li>Anoter block</li>
        <li>Anoter block</li>
        <li>Anoter block</li>
    </ul>
</section>