<section class="app-blocks">
    <ul class="home-blocks">
        <li><p>Новости разрабов</p></li>
        <li><p>Последнее пати</p></li>
        <li><p>Общение</p></li>
        <li class="notices-list">Notices</li>
    </ul>

    <section class="room">
        <div class="user-room">
            <article class="user-room__header">
                <p class="user-room__title">Моя комната</p>
            </article>
            <ul class="user-room__list"></ul>
        </div>

        <div class="rooms__search">
            <p class="tab active">Другие комнаты</p>
            <ul class="rooms-list"></ul>
        </div>
    </section>

    <section class="home-chat">
        <div class="chat-tabs">
            <a class="tab tab-chat tab--world active">Общий</a>
            <a class="tab tab-chat tab--room">Комната</a>
        </div>
        <article class="chat-content" style="height: 100%;">
            <div class="messages messages--world active" id="messages-world"></div>
            <div class="messages messages--room" id="messages-room"></div>
            <div class="chat-users">
                <span class="tab active">Пользователи</span>
                <ul class="users-list"></ul>
            </div>
            <div class="text-form">
                <input type="text" class="textMessage">
                <button class="sendMessage" type="submit">
                    <svg width="15" height="10">
                        <use xlink:href="#enter-icon"></use>
                    </svg>
                </button>
            </div>
        </article>
    </section>

    <section class="home-chat personal-chat">
        <div class="chat-tabs">
            <a class="tab tab-chat tab--personal active">
                <div>
                    <img src="" class="personal-chat-icon" alt="">
                    <p class="personal-chat-name"></p>
                    <button class="all-dialogs">Все диалоги</button>
                </div>
                <button>Свернуть</button>
                <button>Закрыть</button>
            </a>
        </div>
        <article class="chat-content" style="height: 100%;">
            <div class="messages active" id="messages-personal"></div>
            <div class="text-form">
                <input type="text" class="textMessage">
                <button class="sendMessage" type="submit">
                    <svg width="15" height="10">
                        <use xlink:href="#enter-icon"></use>
                    </svg>
                </button>
            </div>
        </article>
    </section>

</section>