<section class="app-blocks">
    <ul class="home-blocks">
        <li><p>Новости разрабов</p></li>
        <li><p>Последнее пати</p></li>
        <li><p>Общение</p></li>
        <li class="notices-list">Notices</li>
    </ul>

    <div class="user-room" style="border: 1px solid">
        <b>Моя комната</b>
        <ul class="user-room-list"></ul>
    </div>

    <ul class="home-blocks home-blocks__search">
        <li>
            <b>Комнаты</b>
            <ul class="rooms-list"></ul>
        </li>
    </ul>

    <section class="home-chat">
        <div class="chat-tabs">
            <a class="tab tab-chat tab--world active">Общий</a>
            <a class="tab tab-chat tab--room">Комната</a>
            <a class="tab tab-chat tab--personal"></a>
        </div>
        <article class="chat-content" style="height: 100%;">
            <div class="messages active" id="messages-world"></div>
            <div class="messages" id="messages-room"></div>
            <div class="messages" id="messages-personal"></div>
            <div class="chat-users">
                <span class="tab active">Пользователи</span>
                <ul class="users-list"></ul>
            </div>
            <div class="text-form">
                <input type="text" id="messageWorldText">
                <button id="sendWorld" type="submit">
                    <svg width="15" height="10">
                        <use xlink:href="#enter-icon"></use>
                    </svg>
                </button>
            </div>
            <!--            <div class="tab-content tab-chat-content chat--room">-->
            <!--                <div class="messages"></div>-->
            <!--                <div class="chat-users">-->
            <!--                    <span class="tab active">Пользователи</span>-->
            <!--                    <ul class="users-list"></ul>-->
            <!--                </div>-->
            <!--                <div class="text-form">-->
            <!--                    <input type="text" id="messageRoomText">-->
            <!--                    <button id="sendRoom" type="submit">-->
            <!--                        <svg width="15" height="10">-->
            <!--                            <use xlink:href="#enter-icon"></use>-->
            <!--                        </svg>-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="tab-content tab-chat-content chat--personal">-->
            <!--                <div class="messages"></div>-->
            <!--                <div class="chat-users">-->
            <!--                    <span class="tab active">Пользователи</span>-->
            <!--                    <ul class="users-list"></ul>-->
            <!--                </div>-->
            <!--                <div class="text-form">-->
            <!--                    <input type="text" id="messagePersonalText">-->
            <!--                    <button id="sendPersonal" type="submit">-->
            <!--                        <svg width="15" height="10">-->
            <!--                            <use xlink:href="#enter-icon"></use>-->
            <!--                        </svg>-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </div>-->
        </article>
    </section>

</section>