<section class="app-blocks">
    <ul class="home-blocks">
        <li>Developers news</li>
        <li>Last game</li>
        <li>Favorite games</li>
        <li>Another block</li>
    </ul>

    <div class="user-room" style="border: 1px solid">
        <b>My room</b>
    </div>

    <ul class="home-blocks home-blocks__search">
        <li>Last game</li>
        <li>
            <b>Rooms</b>
            <div class="rooms-list"></div>
        </li>
    </ul>

    <section class="home-chat">
        <div class="chat-tabs">
            <a class="tab tab-link tab--world active">Общий</a>
            <a class="tab tab-link tab--room">Комната</a>
        </div>
        <article>
            <div class="tab-content chat--world active">
                <div class="messages"></div>
                <div class="chat-users">
                    <b class="tab active">Пользователи</b>
                    <ul class="users-list"></ul>
                </div>
                <div class="text-form">
                    <input type="text" id="messageWorldText">
                    <button id="sendWorld" type="submit">icon</button>
                </div>
            </div>
            <div class="tab-content chat--room">
                <div class="messages"></div>
                <div class="users-list">
                    <b>Users</b>
                </div>
                <div class="text-form">
                    <input type="text" id="messageRoomText">
                    <button id="sendRoom" type="submit">icon</button>
                </div>
            </div>
        </article>
    </section>

</section>