<section class="app-blocks">
    <ul class="home-blocks">
        <li>Developers news</li>
        <li>Last game</li>
        <li>Favorite games</li>
        <li>Another block</li>
        <li>Another block</li>
        <li>Another block</li>
    </ul>

    <div class="user-room" style="border: 1px solid">
        <b>My room</b>
    </div>

    <ul class="home-blocks home-blocks__search">
        <li>Last game</li>
        <li>
            <b>Rooms</b>
            <div class="rooms-list"></div>
        </li>
    </ul>

    <section class="world-chat">
        <div class="messages"></div>
        <div class="users-list">
            <b>Users</b>
        </div>
        <div class="text-form">
            <input type="text" id="messageText">
            <button id="send" type="submit">Send</button>
        </div>
    </section>

    <section class="games-list"></section>
</section>

<script>
    const gamesList = document.querySelector('.games-list');
    const roomsList = document.querySelector('.rooms-list');

    let rooms = '{{rooms}}';
    if(rooms) {
        rooms = rooms.replace(/&#x27;/g, "'");
        rooms = rooms.replace(/&quot;/g, '"');
        rooms = JSON.parse(rooms);
        console.log(rooms);

        rooms.forEach((room) => renderGame(room._id, roomsList));
    }

    let games = '{{gamesList}}';
    games = games.replace(/&quot;/g, '"');
    games = JSON.parse(games);
    console.log(games);

    function changeTemplate(search) {
        if(search) {
            let homeBlocks = document.querySelector('.home-blocks');
            let homeBlocksSearch = document.querySelector('.home-blocks__search');
            let userRoom = document.querySelector('.user-room');

            homeBlocks.style.display = 'none';
            homeBlocksSearch.style.display = 'flex';
            userRoom.style.display = 'block';
        }
        else {
            return;
        }
    }
    function renderGame(game, list) {
        let item = document.createElement('p');
        item.innerHTML = game;
        list.appendChild(item);
    }

    if(games) {
        games.forEach((game) => {
            renderGame(game.name, gamesList);
        });
    }

    changeTemplate({{searching}});

</script>