<section class="page-games">
    <ul>
        <li><a href="?game=borderlands">Arma 2: operation arrowhead</a></li>
        <li><a href="?game=counter_strike">Assasin's Creed IV Black Flag</a></li>
        <li><a href="?game=grid">Borderlands: The Pre-Sequel</a></li>
        <li><a href="?game=the_witcher">Darksiders</a></li>
        <li><a href="?game=province">Darksiders 2: Enchanted Edition</a></li>
        <li><a href="?game=the_witcher">Dota 2</a></li>
        <li><a href="?game=the_witcher">Grand Theft Auto V</a></li>
        <li><a href="?game=the_witcher">GRID Autosport</a></li>
        <li><a href="?game=the_witcher">GRID</a></li>
        <li><a href="?game=the_witcher">Left 4 Dead 2</a></li>
        <li><a href="?game=the_witcher">Outlast</a></li>
        <li><a href="?game=the_witcher">Rocket League</a></li>
    </ul>
</section>