<section class="gamesList">
    <div class="searching-block">
        <div style="display: flex; justify-content: space-between;">
            <button class="start-searching">Найти команду!</button>
            <button class="search-team">
                <svg width="24" height="24">
                    <use xlink:href="#filters-icon"></use>
                </svg>
            </button>
        </div>

        <div class="filters">

            <div class="checkbox-filter">
                <input type="checkbox" name="online-game" id="Multi-player">
                <label for="Multi-player">Online games</label>
            </div>
            <div class="checkbox-filter">
                <input type="checkbox" name="cooperative-game" id="Co-op">
                <label for="Co-op">Cooperative games</label>
            </div>

            <div class="checkbox-filter">
                <input type="checkbox" name="fast-searching" id="fast-searching">
                <label for="fast-searching">Fast searching</label>
            </div>
            <div class="checkbox-filter">
                <input type="checkbox" name="search-favorite" id="search-favorite">
                <label for="search-favorite">Search by favorite games</label>
            </div>
        </div>
    </div>

    <section style="height: calc(100% - 249px)">
        <div class="games-tabs">
            <a class="tab games-tab games-tab--mine active">Ваши игры</a>
            <a class="tab games-tab games-tab--favorite">Избранное</a>
        </div>
        <ul class="games-list">

        </ul>
    </section>
</section>