<section class="page-games">
    <ul>
        <li><a href="?game=borderlands">Borderlands</a></li>
        <li><a href="?game=counter_strike">Counter Strike</a></li>
        <li><a href="?game=grid">GRID</a></li>
        <li><a href="?game=the_witcher">The witcher</a></li>
        <li><a href="?game=province">Province</a></li>
    </ul>
</section>