<section class="gamesList">
    <div class="searching-block">
        <div style="display: flex; justify-content: space-between;">
            <button class="start-searching">Найти команду!</button>
            <button class="search-team">
                <svg width="24" height="24">
                    <use xlink:href="#filters-icon"></use>
                </svg>
            </button>
        </div>

        <div class="filters">

            <div class="checkbox-filter">
                <input type="checkbox" class="visually-hidden" name="Action" id="Action">
                <label for="Action">Action</label>
            </div>
            <div class="checkbox-filter">
                <input type="checkbox" class="visually-hidden" name="Adventure" id="Adventure">
                <label for="Adventure">Adventure</label>
            </div>

            <div class="checkbox-filter">
                <input type="checkbox" class="visually-hidden" name="fast-searching" id="fast-searching">
                <label for="fast-searching">Fast searching</label>
            </div>
            <div class="checkbox-filter">
                <input type="checkbox" class="visually-hidden" name="search-favorite" id="search-favorite">
                <label for="search-favorite">Search by favorite games</label>
            </div>
        </div>
    </div>

    <section style="height: calc(100% - 249px)">
        <div class="games-tabs">
            <a class="tab games-tab checkbox-filter games-tab--mine active" id="all-games">Ваши игры</a>
            <a class="tab games-tab checkbox-filter games-tab--favorite" id="favorite-games">Избранное</a>
        </div>
        <ul class="games-list"></ul>
    </section>
</section>