<header class='page-header'>

    <a href="/" class="page-header--logo">
        <img src="../assets/img/logo.png" width="65" height="35">
    </a>

    <form method="get" action="/search/">
        <input type="search" name="term">
        <input type="submit" value="Poisk">
    </form>

    <div class="user-block">
      {{#if user}}
        <a href="/profile?id={{userID}}">{{user}}</a>
        <a href='/logout'>Logout</a></h2>
      {{else}}
        <a href="/login">Log in</a>
      {{/if}}
    </div>
</header>