<section class="user-block">
    <article class="user-profile">
        <a href="/profile?id={{userID}}">{{userName}}</a>
        <a href='/logout'>Logout</a></h2>
        <img src="{{userIcon}}" alt="">
    </article>
    <section class="user-friends">
        <div class="user-friends__title">
            <b>Друзья</b>
        </div>
        <ul class="friends-list"></ul>
    </section>
</section>