<section class="user-block">
    <article class="user-profile">
        <div class="profile-block">
            <img src="{{userIcon}}" alt="{{userName}}" width="40" height="40">
            <p class="online">{{userName}}</a>
            <!--        <a href='/logout'>Logout</a></h2>-->
        </div>
        <ul class="profile-links-list">
            <li><a href="/profile?id={{userID}}">Мой профиль</a></li>
            <li><a href="">Мои сообщения</a></li>
            <li><a href="">Мои игры</a></li>
            <li><a href="">Новости</a></li>
        </ul>
    </article>
    <section class="user-friends">
        <div class="user-friends__title">
            <p>Друзья</p>
        </div>
        <ul class="friends-list"></ul>
    </section>
</section>