<section class="user-block">
    <article class="user-profile">
        <a href="/profile?id={{userID}}">{{userName}}</a>
        <a href='/logout'>Logout</a></h2>
    </article>
    <section class="user-friends">
        <h2>Друзья</h2>
        <ul class="friends-list"></ul>
    </section>
</section>