<section class="user-profile">
    <a href="/profile?id={{userID}}">{{user}}</a>
    <a href='/logout'>Logout</a></h2>

    <section class="user-friends">
        <h2>Friends</h2>
        <ul class="friends-list"></ul>
    </section>
</section>