<section class="page-sidebar">
    <ul>
        <li><a href="/">Guides</a></li>
        <li><a href="/">Streams</a></li>
        <li><a href="/">Clans</a></li>
        <li><a href="/">Forum</a></li>
        <li><a href="/"></a></li>
    </ul>
</section>