<section class="page-sidebar">
    <ul>
        <li><a href="/guides">Guides</a></li>
        <li><a href="/streams">Streams</a></li>
        <li><a href="/clans">Clans</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/news">News</a></li>
    </ul>
</section>