@font-face {
    font-family: 'SF UI Display';
    src: local('San Francisco(SF UI) Display Regular'), local('San-Francisco(SF-UI)-Display-Regular'),
    url('../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display Bold';
    src: local('San Francisco(SF UI) Display Bold'), local('San-Francisco(SF-UI)-Display-Bold'),
    url('../assets/fonts/SFUIDisplay-Bold.woff2') format('woff2'),
    url('../assets/fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;

    text-align: center;
    font-family: SF UI Display;
    color: #fff;

    background: #10191D url('../assets/img/site-bg.jpg') no-repeat center 0;
    background-attachment: fixed;
}

a {
    display: block;
    text-decoration: none;
    /* font-family: $font-primary; */
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "SF UI Display Bold";
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    width: 100%;
}

/* /////////////// */

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
}

.page-header,
.page-footer {
    width: 100%;
    padding: 20px 0;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #000;
}

.menu-list {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 100px;
}

.page-sidebar,
.page-games {
    width: 20%;
    max-width: 270px;
    text-align: left;
    padding-top: 16px;
}

.page-sidebar a {
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.17;
}

.page-games a {
    padding: 5px 0;
}

.page-content {
    flex-grow: 1;
    padding: 16px 30px;
}

.page-content .chat-form {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: 100%;
    position: relative;
}

.page-content .chat-form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}

.page-content .chat-form .chat-form--submit {
    position: absolute;
    right: 0;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.main-title span {
    color: #53FFCB;
}

.page-content .chat-list li {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    text-align: left;
    border: 1px solid;
    border-radius: 20px 20px 0 20px;
}

.raiting-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}

.raiting-item h2 {
    width: 50%;
}

.raiting-games {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.raiting-games li {
    margin-top: 20px;
    margin-right: 20px;
    width: calc(50% - 20px);
}

.user-block {
    width: 28.5%;
    border: 1px solid;
}

.app-blocks {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app-blocks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.app-blocks ul li {
    width: 32%;
    margin-bottom: 2%;
    border: 1px solid white;
    min-height: 130px;
}

.games-list {
    width: 33%;
    text-align: left;
    padding-left: 10px;
    overflow-y: auto;
    max-height: 200px;
}

.home-page {
    position: relative;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}

.search-team,
.start-searching {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 160px;
    height: 40px;
    text-transform: uppercase;
}

.filters {
    display: none;
}

.filters.active {
    display: block;
    position: absolute;
    right: 0;
    z-index: 999;
    background:
            #111;
    padding: 20px;
    height: 100%;
}

.world-chat {
    max-height: 200px;
    border: 1px solid white;
    width: 66%;
    height: 100%;
    display: flex;
    position: relative;
    padding-bottom: 24px;
    text-align: left;
}

.world-chat .messages {
    width: 80%;
    overflow-y: auto;
    height: 175px;
}

.world-chat .messages p {
    margin: 5px;
}

.world-chat .users-list {
    width: 20%;
    border-left: 1px solid white;
}

.world-chat .users-list a {
    color: white;
}

.world-chat .text-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.world-chat .text-form input {
    width: 100%;
}

.world-chat .text-form button {
    position: absolute;
    right: 0;
}

.user-profile {
    max-height: 200px;
    height: 100%;
    border-bottom: 1px solid;
}

