@font-face {
    font-family: 'SF UI Display';
    src: local('San Francisco(SF UI) Display Regular'), local('San-Francisco(SF-UI)-Display-Regular'),
    url('../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display Bold';
    src: local('San Francisco(SF UI) Display Bold'), local('San-Francisco(SF-UI)-Display-Bold'),
    url('../assets/fonts/SFUIDisplay-Bold.woff2') format('woff2'),
    url('../assets/fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;

    text-align: center;
    font-family: SF UI Display;
    color: #fff;

    background-color: #10191D;
}

a {
    display: block;
    text-decoration: none;
    /* font-family: $font-primary; */
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "SF UI Display Bold";
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    width: 100%;
}

/* /////////////// */

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    width: 100%;
    /*max-width: 1280px;*/
    margin: 0 auto;
    color: #fff;
}

.container.start-page {
    flex-direction: column;
    justify-content: flex-start;
    background: url(/assets/img/start-bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.main-title {
    margin-top: 108px;
    margin-bottom: 150px;
}

.register-show {
    background: rgba(252, 255, 83, 0.9);
    border-radius: 100px;
    font-size: 22px;
    color: #10191D;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    width: 346px;
    height: 65px;}

.login-show {
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    color: #E5E5E5;
}

.sign-up,
.sign-in {
    display: none;
    margin-top: 170px;
    position: relative;
}

.sign-up .return,
.sign-in .return,
.sign-up .has-account {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding-left: 28px;
    background: url(/assets/img/svg/prev.svg) no-repeat;
    background-position: left center;
}

.sign-up .has-account {
    left: auto;
    right: 0;
    padding-left: 0;
    padding-right: 28px;
    background: url(/assets/img/svg/next.svg) no-repeat;
    background-position: right center;
}

.sign-up form,
.sign-in form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    text-align: left;
}

.sign-up label,
.sign-in label {
    font-size: 14px;
    color: #fff;
    margin-left: 21px;
}

.sign-up input,
.sign-in input {
    display: block;
    width: 244px;
    height: 45px;
    background: rgba(220, 222, 223, 0.75);
    border-radius: 100px;
    padding-left: 21px;
    font-size: 14px;
    border: none;
}

.sign-up input[type="submit"],
.sign-in input[type="submit"] {
    margin: 20px auto;
    cursor: pointer;
    padding: 43px 0 0;
    height: auto;
    background-color: inherit;
    background: url(/assets/img/svg/action.svg) no-repeat;
    background-position: center -20px;
    color: #fff;
}

.page-header,
.page-footer {
    width: 100%;
    padding: 20px 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-sidebar,
.page-games {
    width: 20%;
    max-width: 270px;
    text-align: left;
    padding-top: 16px;
}

.page-sidebar a {
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.17;
}

.page-games a {
    padding: 5px 0;
}

.page-content {
    flex-grow: 1;
    padding: 16px 30px;
}

.page-content .chat-form {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: 100%;
    position: relative;
}

.page-content .chat-form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}

.page-content .chat-form .chat-form--submit {
    position: absolute;
    right: 0;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.main-title span {
    color: #53FFCB;
}

.page-content .chat-list li {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    text-align: left;
    border: 1px solid;
    border-radius: 20px 20px 0 20px;
}

.raiting-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}

.raiting-item h2 {
    width: 50%;
}

.raiting-games {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.raiting-games li {
    margin-top: 20px;
    margin-right: 20px;
    width: calc(50% - 20px);
}

.gamesList {
    width: 24%;
    height: 80vh;
}

.user-block {
    width: 24%;
    height: 80vh;
}

.app-blocks {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}

.home-blocks li {
    width: 49%;
    /*height: 49%;*/
    margin-bottom: 2%;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
    /*max-height: 170px;*/
    overflow-y: auto;
}

.home-blocks li p {
    margin-top: 25%;
    margin-left: 20%;
    text-align: right;
    font-size: 28px;
    max-width: 70%;
}

.home-blocks__search li {
    width: 100%;
}

.games-list {
    text-align: left;
    padding-left: 10px;
    overflow-y: auto;
    height: 100%;
}

.games-list input[type="checkbox"]:checked+label {
    background-color: #111111;
}

.games-list li label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.games-list li img {
    border-radius: 2px;
}

.games-list li p {
    font-size: 14px;
    color: #DCDEDF;
    margin-left: 10px;
}

.home-page {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    /*max-width: 1280px;*/
    margin: 0 auto;
    background: linear-gradient(90deg, #10191D 0%, #233A4A 50.01%, #10191D 100%);
}

.searching-block {
    padding: 16px 16px 0;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
}

.search-team,
.start-searching {
    width: calc(100% - 48px);
    padding: 0;
    max-width: 245px;
    height: 38px;
    background: linear-gradient(90deg, #10191D 0%, #233A4A 50.01%, #10191D 100%);
    border-radius: 5px 0 0 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #fff;
    border: 1px solid #79B8F1;
    cursor: pointer;
}

.search-team {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0 5px 5px 0;
}

.filters {
    margin-top: 15px;
    background: linear-gradient(118.07deg, #233A4A -109.79%, #10191D 148.04%);
    min-height: 140px;
    text-align: left;
    padding: 10px;
}

.checkbox-filter {
    margin-top: 6px;
}

.checkbox-filter label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 14px;
}

.checkbox-filter label:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 0.5px solid #3F4B51;
    border-radius: 3px;
}

.checkbox-filter input[type='checkbox']:checked + label:before {
    background: #fff url('/assets/img/svg/checked.svg') no-repeat;
    background-position: center;
}

.home-chat {
    width: 100%;
    height: calc(40% - 20px);
    position: relative;
    padding-bottom: 24px;
    text-align: left;
    margin-top: 20px;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
}

.home-chat .messages {
    width: calc(100% - 183px);
    overflow-y: auto;
    height: calc(100% - 10px);
    padding-top: 49px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.personal-chat .messages {
    width: 100%;
    padding-right: 15px;
    height: calc(100% - 42px);
}

.personal-chat .messages p {
    background: #1D313D;
    padding: 7px 10px 5px 10px;
    color: #DCDEDF;
    font-size: 14px;
    line-height: 17px;
    margin-top: 7px;
    border-radius: 15px;
}

.personal-chat .messages p.fromMe {
    background: rgba(121, 184, 241, 0.25);
    margin-left: auto;
}

.personal-chat .tab {
    padding: 14px 15px;
}

.personal-chat-name {
    margin: 0;
}

.home-chat .messages p {
    margin: 1px 0;
    font-size: 14px;
    line-height: 17px;
    color: #E7E9EA;
}

.home-chat .messages .chat-user {
    color: #8C949A;
}

.home-chat .users-list {
    height: 100%;
    background: rgba(23, 38, 47, 0.25);
    padding: 15px 0 0 16px;
}

.home-chat .users-list a {
    font-size: 14px;
    line-height: 17px;
    margin: 1px 0;
    color: #8C949A;
}

.home-chat .users-list a.me {
    color: #DCDEDF;
}

.home-chat .text-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.home-chat .text-form input {
    width: 100%;
    background: rgba(16, 25, 29, 0.5);
    border: 1px solid rgba(16, 25, 29, 0.75);
    padding: 7px 0 8px 14px;
    font-size: 14px;
    line-height: 17px;
    color: #DCDEDF;
}

.home-chat .text-form button {
    position: absolute;
    top: 0;
    right: 0;
    width: 33.6px;
    height: 33.6px;
    background: #3F4B51;
    border: 1px solid #3F4B51;
    cursor: pointer;
}

.chat-content {
    height: 100%;
    display: flex;
}

.chat-content .messages {
    display: none;
}

.chat-content .messages.active {
    display: flex;
}

.user-profile {
    padding: 15px;
    height: 50%;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
}

.profile-block {
    display: flex;
    align-items: center;
}

.profile-block img {
    margin-right: 9px;
}

.profile-links-list {
    text-align: left;
}

.profile-links-list a {
    font-size: 16px;
    line-height: 19px;
    color: #E7E9EA;
    margin-top: 3px;
}

.chat-tabs {
    display: flex;
    position: absolute;
    width: calc(100% - 183px);
}

.tab-content {
    display: none;
}

.tab-content.active {
    height: 100%;
    display: flex;
}

.games-tabs {
    display: flex;
    margin-bottom: 8px;
}

.games-tabs .tab {
    margin: 0;
}

.tab {
    font-size: 14px;
    line-height: 17px;
    color: #10191D;
    background-color: #3F4B51;
    text-align: left;
    padding: 6px 0 7px 14px;
    width: 100%;
    cursor: pointer;
}

.chat-tabs .tab {
    display: none;
}

.tab.tab--world {
    display: block;
}

.tab.active {
    font-size: 16px;
    line-height: 19px;
    color: #E7E9EA;
    background-color: #17262F;
    cursor: text;
    display: block;
    position: relative;
}

.chat-users {
    width: 183px;
}

.chat-users span {
    display: block;
    width: 100%;
}

.home-blocks__search li p {
    margin: 15px 0;
    max-width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.user-friends {
    margin-top: 20px;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
    text-align: left;
    height: calc(50% - 20px);
}

.user-friends li {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.user-friends li img {
    height: 25px;
    width: 25px;
    margin-right: 11px;
}

.user-friends li p {
    font-size: 14px;
    line-height: 17px;
    color: #E7E9EA;
}

.user-friends__title {
    background-color: #17262F;
    padding: 6px 0 7px 15px;
    margin-bottom: 24px;
}

.user-friends__title p {
    color: #E7E9EA;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.friends-list p,
.profile-block p,
.personal-chat-name {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
}

.friends-list p:before,
.profile-block p:before,
.personal-chat-name:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(235, 27, 27, 0.75);
    position: absolute;
    top: 0;
    right: 0;
}

.friends-list p.online:before,
.profile-block p.online:before,
.personal-chat-name.online:before {
    background-color: #00FF0A;
}

.user-room {
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
    padding: 15px;
}

.user-room__header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-room__title {
    color: #E7E9EA;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.user-room__title span {
    margin-left: 12px;
    font-size: 16px;
    line-height: 19px;
    color: #8C949A;
}

.room {
    display: none;
    width: 100%;
    height: 60%;
}

.user-room {
    width: 70%;
}

.rooms__search {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.3), rgba(16, 25, 29, 0.3));
}

.rooms__search p {
    width: 100%;
    margin: 0;
}

.rooms-list li {
    margin-top: 9px;
}

.user-room__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-room__list li {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-room__list li img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.user-room__list li p {
    font-size: 14px;
    line-height: 17px;
    color: #E7E9EA;
    margin: 0;
}

.user-room__list li:first-child {
    background: rgba(16, 25, 29, 0.25);
    border-radius: 2px;
}

.personal-chat {
    display: none;
    margin: 0;
    height: 100%;
}

.personal-chat .chat-tabs {
    width: 100%;
}

.personal-chat .tab div {
    display: flex;
    align-items: center;
    padding-right: 81px;
}

.personal-chat .tab button {
    border: none;
    padding: 0;
    position: absolute;
    width: 12px;
    height: 12px;
    cursor: pointer;
    top: 15px;
    right: 15px;
    background: url(/assets/img/svg/close.svg) no-repeat;
    background-position: center;
}

.personal-chat .tab div img {
    margin-right: 9px;
}

.status {
    font-size: 12px;
    line-height: 14px;
    color: #AAAAAA;
}

.user-messages {
    border: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url('/assets/img/svg/personal.svg') no-repeat;
}

.personal-chat .tab div .all-dialogs {
    margin: 0 0 0 auto;
    position: relative;
    width: auto;
    height: 21px;
    font-size: 16px;
    line-height: 19px;
    color: #8C949A;
    padding-right: 12px;
    background: url(/assets/img/svg/arrow.svg) no-repeat;
    background-position: right center;
    cursor: pointer;
}

.personal-chat .tab .hide-chat-btn {
    background: url(/assets/img/svg/hide.svg) no-repeat;
    right: 39px;
}