@font-face {
    font-family: 'SF UI Display';
    src: local('San Francisco(SF UI) Display Regular'), local('San-Francisco(SF-UI)-Display-Regular'),
    url('../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display Bold';
    src: local('San Francisco(SF UI) Display Bold'), local('San-Francisco(SF-UI)-Display-Bold'),
    url('../assets/fonts/SFUIDisplay-Bold.woff2') format('woff2'),
    url('../assets/fonts/SFUIDisplay-Bold.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;

    text-align: center;
    font-family: SF UI Display;
    color: #fff;

    background-color: #10191D;
}

a {
    display: block;
    text-decoration: none;
    /* font-family: $font-primary; */
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "SF UI Display Bold";
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    width: 100%;
}

/* /////////////// */

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
}

.page-header,
.page-footer {
    width: 100%;
    padding: 20px 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-sidebar,
.page-games {
    width: 20%;
    max-width: 270px;
    text-align: left;
    padding-top: 16px;
}

.page-sidebar a {
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.17;
}

.page-games a {
    padding: 5px 0;
}

.page-content {
    flex-grow: 1;
    padding: 16px 30px;
}

.page-content .chat-form {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: 100%;
    position: relative;
}

.page-content .chat-form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}

.page-content .chat-form .chat-form--submit {
    position: absolute;
    right: 0;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.main-title span {
    color: #53FFCB;
}

.page-content .chat-list li {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    text-align: left;
    border: 1px solid;
    border-radius: 20px 20px 0 20px;
}

.raiting-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}

.raiting-item h2 {
    width: 50%;
}

.raiting-games {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.raiting-games li {
    margin-top: 20px;
    margin-right: 20px;
    width: calc(50% - 20px);
}

.gamesList {
    width: 24%;
    height: 80vh;
}

.user-block {
    width: 24%;
    height: 80vh;
}

.app-blocks {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.home-blocks__search {
    width: 33%;
    display: none;
}

.home-blocks li {
    width: 49%;
    height: 49%;
    margin-bottom: 2%;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
    max-height: 170px;
    overflow-y: auto;
}

.home-blocks li p {
    margin-top: 25%;
    margin-left: 20%;
    text-align: right;
    font-size: 28px;
    max-width: 70%;
}

.home-blocks__search li {
    width: 100%;
}

.games-list {
    text-align: left;
    padding-left: 10px;
    overflow-y: auto;
    /*max-height: 610px;*/
    height: 100%;
}

.games-list li {
    display: flex;
    align-items: center;
}

.games-list li p {
    font-size: 14px;
    color: #DCDEDF;
    margin-left: 10px;
}

.home-page {
    position: relative;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: linear-gradient(90deg, #10191D 0%, #233A4A 50.01%, #10191D 100%);
}

.searching-block {
    padding: 16px 16px 0;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
}

.search-team,
.start-searching {
    width: 80%;
    max-width: 245px;
    height: 38px;
    background: linear-gradient(90deg, #10191D 0%, #233A4A 50.01%, #10191D 100%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #fff;
    border: 1px solid #79B8F1;
    cursor: pointer;
}

.search-team {
    width: 16%;
    max-width: 45px;
}

.filters {
    margin-top: 15px;
    background: linear-gradient(118.07deg, #233A4A -109.79%, #10191D 148.04%);
    min-height: 140px;
    text-align: left;
    padding: 10px;
}

.home-chat {
    max-height: 200px;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 24px;
    text-align: left;
    margin-top: 20px;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
}

.home-chat .messages {
    width: 80%;
    overflow-y: auto;
    height: 175px;
    padding-top: 49px;
    padding-left: 15px;
}

.home-chat .messages p {
    margin: 1px 0;
    font-size: 14px;
    line-height: 17px;
    color: #E7E9EA;
}

.home-chat .messages .chat-user {
    color: #8C949A;
}

.home-chat .users-list {
    height: 100%;
    background: rgba(23, 38, 47, 0.25);
    padding: 15px 0 0 16px;
}

.home-chat .users-list a {
    font-size: 14px;
    line-height: 17px;
    margin: 1px 0;
    color: #8C949A;
}

.home-chat .text-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.home-chat .text-form input {
    width: 100%;
    background: rgba(16, 25, 29, 0.5);
    border: 1px solid rgba(16, 25, 29, 0.75);
    padding: 7px 0 8px 14px;
    font-size: 14px;
    line-height: 17px;
    color: #DCDEDF;
}

.home-chat .text-form button {
    position: absolute;
    right: 0;
    width: 33px;
    height: 33px;
    background: #3F4B51;
    border: 1px solid #3F4B51;
    cursor: pointer;
}

.user-profile {
    max-height: 355px;
    height: 100%;
    background: linear-gradient(0deg, rgba(16, 25, 29, 0.25), rgba(16, 25, 29, 0.25));
}

.user-room {
    width: 66%;
    display: none;
}

.chat-tabs {
    display: flex;
    position: absolute;
    width: 80%;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
}

.games-tabs {
    display: flex;
    margin-bottom: 8px;
}

.tab {
    font-size: 14px;
    line-height: 17px;
    color: #10191D;
    background-color: #3F4B51;
    text-align: left;
    padding: 6px 0 7px 14px;
    width: 50%;
    cursor: pointer;
}

.tab.active {
    font-size: 16px;
    line-height: 19px;
    color: #E7E9EA;
    background-color: #17262F;
    cursor: text;
}

.chat-users span {
    display: block;
    width: 100%;
}

.home-blocks__search li p {
    margin: 15px 0;
    max-width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}